:root {
  --pal-v1-layer-0: #0F1010;
  --pal-v1-layer-100: #212121;
  --pal-v1-layer-200: #424242;
  --pal-v1-field-0: #2e2e2e;
  --pal-v1-field-100: #383838;
  --pal-v1-field-200: #757575;
  --pal-v1-field-300: #959595;
  --pal-v1-field-400: #a1a1a1;

  --pal-v1-text-0: {
    neutrals.white
  }

  ;
  --pal-v1-text-100: #d0d0d0;
  --pal-v1-text-200: #8c8c8c;
  --pal-v1-text-300: #696969;
  --pal-v1-text-400: #4d4d4d;
  --pal-v1-text-500: #B0B0B0;
  --pal-v1-text-600: #E3E3E3;
  --pal-v1-text-700: #F5F5F5;
  --pal-v1-primary-0: #01090f;
  --pal-v1-primary-100: #041420;
  --pal-v1-primary-200: #0a273d;
  --pal-v1-primary-300: #0f3857;
  --pal-v1-primary-400: #19537e;
  --pal-v1-primary-500: #1f6093;
  --pal-v1-primary-600: #256ea7;
  --pal-v1-primary-700: #2a7cbb;
  --pal-v1-primary-800: #308acf;
  --pal-v1-primary-900: #3698E3;
  --pal-v1-secondary-0: #002420;
  --pal-v1-secondary-100: #0d3733;
  --pal-v1-secondary-200: #1a4a45;
  --pal-v1-secondary-300: #275e58;
  --pal-v1-secondary-400: #34716a;
  --pal-v1-secondary-500: #41847d;
  --pal-v1-secondary-600: #4e978f;
  --pal-v1-secondary-700: #5baba2;
  --pal-v1-secondary-800: #68beb4;
  --pal-v1-secondary-900: #75d1c7;
  --pal-v1-accent-0: #261603;
  --pal-v1-accent-100: #3e2507;
  --pal-v1-accent-200: #56340a;
  --pal-v1-accent-300: #6e430e;
  --pal-v1-accent-400: #865211;
  --pal-v1-accent-500: #9f6115;
  --pal-v1-accent-600: #b77018;
  --pal-v1-accent-700: #cf7f1c;
  --pal-v1-accent-800: #e78e1f;
  --pal-v1-accent-900: #ff9d23;
  --pal-v1-status-a-0: #47731c;
  --pal-v1-status-a-100: #578b22;
  --pal-v1-status-a-200: #69a829;
  --pal-v1-status-a-300: #82ce36;
  --pal-v1-status-e-200: #b77018;
}